<%= render "slide" %>

<span class="text-line">
Tha ho nghi duong, tron ven niem vui
</span>

<div class="row">

  <% @motels.each do |motel| %>
    <%= link_to static_page_path(motel) do %>
      <div class="col-md-4 home-form ">
        <%= image_tag motel.images[0].url if motel.images? %>
        <h1><%= motel.name %></h1>
        <h2>chat luong <%= motel.level %>✩ </h2>
        <p><%= motel.address %></p>
      </div>
    <% end %>
  <% end %>
</div>