<div class="col-md-12 title">    
    <div class="name"><%= @motel.name %></div>
    <span><%= @motel.level %> sao</span>
</div>
<div class="address">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @motel.address %>
</div>
<div class="phone"> 
    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= @motel.phone %>
</div>
<div class="description">
    description : <%= @motel.description %>
</div>

<span class="text-line">
    hinh anh
</span>

