 <div class='nested-fields'>
  <div class="field">
    <%= f.label :room_id, t("room.item") %>
    <%= f.collection_select :room_id, Room.all,
      :id, :room_type, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :price, t("price") %>
    <%= f.number_field :price, min: 0, value: 0, class: "form-control" %>
  </div>
  # <%= link_to_remove_association t("delete"), f %>
</div>
