 <div class='nested-fields'>
  <div class="field">
    <%= f.label :equipment_id, t("equipment.item"), class:"label" %>
    <%= f.collection_select :equipment_id, Equipment.all,
      :id, :name, {class: "form-control input-add-new"} %>
  </div>
  <div class="field">
    <%= f.label :price, t("price"), class:"label" %>
    <%= f.number_field :price, min: 0, value: 0, class: "form-control input-add-new" %>
  </div>
  <div style="margin-left:180px;">
  # <%= link_to_remove_association t("delete"), f %>
  </div>
</div>
