<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="login-form">
  <% provide :title, t("forgot_password.change_pass") %>
  <h2><%= t "forgot_password.change_pass" %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, t("forgot_password.new_pass") %><br />
      <% if @minimum_password_length %>
        <em>(<%= t("users.min_pass", min: @minimum_password_length) %>)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "box" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t("forgot_password.confirmation") %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "box" %>
    </div>

    <div class="actions text-center">
       <%= f.submit t("forgot_password.change"), class: "btn btn-custom2" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
</div>
</div>
