<p><%= t "activate_mail.greeting", email: @resource.email %>!</p>
<p><%= t "forgot_password.content" %></p>
<p><%= link_to t("forgot_password.change"),
  edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t "forgot_password.info" %></p>
<p><%= t "forgot_password.detail" %></p>